<h1 mat-dialog-title>
    Fill Fruit Details
</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input #name="ngModel" required minlength="3" placeholder="Name" matInput [(ngModel)]="formdata.name">
    </mat-form-field><br>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

        <div *ngIf="name.errors?.['required']">
            Name is required.
        </div>
        <div *ngIf="name.errors?.['minlength']">
            Name must be at least 3 characters long.
        </div>
    </div>
    <mat-form-field>
        <input #price="ngModel" placeholder="Price" min="10" type="number" matInput [(ngModel)]="formdata.price">
    </mat-form-field>
    <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert">

        <div *ngIf="price.errors?.['required']">
            Price is required.
        </div>
        <div *ngIf="price.errors?.['min']">
            Price >10 ....
        </div>
    </div>
</div>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput #datepickr = 'ngModel' required [matDatepicker]="picker" [(ngModel)]="formdata.date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="datepickr.invalid && (datepickr.dirty || datepickr.touched)" class="alert">

        <div *ngIf="datepickr.errors?.['required']">
            Date is required.
        </div>
        
    </div><br>
</div>
<div mat-dialog-actions>
   
    <button mat-button [mat-dialog-close]="data" [disabled]="(name.invalid || price.invalid)">Submit</button>
    <button mat-button (click)="onNoClick()">Close</button>
</div>